[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pillow = "*"
psutil = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"
