[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
autopep8 = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"
